<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="fadeIn">
  My first Angular App

  <br><br>

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia gravida pellentesque. Nam sit amet tincidunt leo. Vestibulum dapibus lectus quam, vel volutpat nisi iaculis eget. Vestibulum posuere, libero nec vulputate mattis, tellus urna auctor tellus, vel consequat tellus urna ut neque. Ut et mi eget massa molestie consequat feugiat sit amet diam. Proin in enim rhoncus, molestie ipsum a, porta massa. Vestibulum rhoncus, lorem vitae vulputate molestie, lectus ligula imperdiet urna, eget varius mauris augue vel lacus. Ut porta turpis et nulla egestas pharetra. Aenean pulvinar tincidunt tempor. Quisque molestie turpis vel tellus egestas, nec vehicula est auctor. Nullam in vulputate neque, eu tincidunt mi. Quisque id maximus arcu, eget porta nibh. Maecenas vel libero et dui luctus consectetur eu ac metus.
</p>