// Colors
$color-primary-branding: #F8971D;
$color-primary-background: #EFEFEF;
$color-accent-branding: #FFFFFF;
$color-app-bar: #212121;
$color-gray-87: rgba(0, 0, 0, .87);
$color-gray-87-0_5: rgba(0, 0, 0, .435); // Opacity 0.5
$color-gray-54: rgba(0, 0, 0, .54);
$color-gray-27: rgba(0, 0, 0, .27);
$color-gray-27-0_5: rgba(0, 0, 0, .135); // Opacity 0.5
$color-gray-12: rgba(0, 0, 0, .12);
$color-error: #F44336;
$color-success: #4CAF50;
$color-warning: #FF9800;
$color-row-selected: #F5F5F5;
$color-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
$color-position-lockdown: #F44336;
$color-position-hold: #03A9F4;